body{
    background: aliceblue;
}

.home{
    width: 800px;
    margin: 0 auto;
    padding-top: 80px;
}

.home h1{
    text-align: center;
}

.login{
    width: 250px;
    margin-left: 250px;
    margin-top: 20px;
}

.login input{
    margin-bottom: 7px;
}